.aside-container {
  position: sticky;
  top: 50px;
  height: 100vh;
  width: 300px;
  padding: 30px;
  overflow-y: auto;
  border-style: solid;
  border-color: #e5e7eb;
  border-width: 0 2px 0 0;
}

.aside-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.aside-menu-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ...existing code... */

.aside-menu-ul > li a {
  position: relative;
}

.aside-menu-ul > li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #3b82f6;
  transition: width 0.5s ease;
}

.aside-menu-ul > li a:hover::after {
  width: 100%;
}
