.compound-interest-card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.calculator-card-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.calculator-card-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.calculator-card-text {
  display: flex;
  flex-direction: column;
}

.calculator-card-text h2 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.calculator-card-text p {
  font-size: 1rem;
  line-height: 1.5;
}
