.compound-interest-card-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
  gap: 20px;
}

.compound-interest-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.label-item {
  width: 200px;
  text-align: left;
}

.input-item {
  width: 300px;
}

.chart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

@media (max-width: 850px) {
  .chart-container {
    flex-direction: column;
  }
}

.compound-interest-card-chart {
  gap: 70px;
}
