.nav-box-container-mobile-menu {
  display: none;
}

@media (max-width: 1200px) {
  .nav-box-container-mobile-menu {
    display: block;
  }
}

.tab-menu-logo-mobile-menu {
  width: 100px;
  height: auto;
}
