.glosario-file-template {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.glosario-file-template-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.glosario-file-template-content {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
  min-height: calc(100vh - 50px);
}

.glosario-file-template-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
