@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Geist Sans";
  src: url("src/assets/fonts/Geist[wght].woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
}
/* Add these styles */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}
