.compound-interest {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 20px;
}

.compound-interest-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.compound-interest-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 5px;
}

.compound-interest-content-container {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  width: 100%;
}

.compound-interest-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
