.compound-interest {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.compound-interest-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; /* Add this */
  margin: 0 auto;
  max-width: 1400px;
}

.compound-interest-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 5px;
}

.compound-interest-content-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
  min-height: calc(100vh - 95px);
}

.compound-interest-content {
  display: flex;
  flex-direction: column;

  padding: 20px;
}
